
/*font*/
$vxe-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !default;
$vxe-font-size: 14px !default;
$vxe-font-size-medium: 14px !default;
$vxe-font-size-small: 13px !default;
$vxe-font-size-mini: 12px !default;

/*size*/
$vxe-border-radius: 4px !default;

/*color*/
$vxe-font-color: #515a6e !default;
$vxe-primary-color: #2d8cf0 !default;

/*table*/
$vxe-table-header-font-color: $vxe-font-color !default;
$vxe-table-footer-font-color: $vxe-font-color !default;
$vxe-table-border-radius: $vxe-border-radius !default;
$vxe-table-border-width: 1px !default;
$vxe-table-border-color: #e8eaec !default;
$vxe-table-resizable-line-color: #D9DDDF !default;
$vxe-table-resizable-drag-line-color: $vxe-primary-color !default;
$vxe-table-header-background-color: #f8f8f9 !default;
$vxe-table-body-background-color: #ffffff !default;
$vxe-table-footer-background-color: #ffffff !default;
$vxe-table-tree-node-line-color:#909399 !default;
$vxe-table-tree-node-line-style: dotted !default;
$vxe-table-header-font-weight: 700 !default;

$vxe-table-row-height-default: 48px !default;
$vxe-table-row-height-medium: 44px !default;
$vxe-table-row-height-small: 40px !default;
$vxe-table-row-height-mini: 36px !default;
$vxe-table-row-line-height: 22px !default;
$vxe-table-row-hover-background-color: #f5f7fa !default;
$vxe-table-row-striped-background-color: #fafafa !default;
$vxe-table-row-hover-striped-background-color: #f5f7fa !default;
$vxe-table-row-radio-checked-background-color: #fff3e0 !default;
$vxe-table-row-hover-radio-checked-background-color: #ffebbc !default;
$vxe-table-row-checkbox-checked-background-color: #fff3e0 !default;
$vxe-table-row-hover-checkbox-checked-background-color: #ffebbc !default;
$vxe-table-row-current-background-color: #e6f7ff !default;
$vxe-table-row-hover-current-background-color: #d7effb !default;

$vxe-table-column-padding-default: 13px 0 !default;
$vxe-table-column-padding-medium: 11px 0 !default;
$vxe-table-column-padding-small: 9px 0 !default;
$vxe-table-column-padding-mini: 7px 0 !default;
$vxe-table-column-hover-background-color: #d7effb !default;
$vxe-table-column-current-background-color: #e6f7ff !default;
$vxe-table-column-icon-border-color: #c0c4cc !default;
$vxe-table-column-icon-border-hover-color: #515A6E !default;

$vxe-table-cell-placeholder-color: #C0C4CC !default;
$vxe-table-cell-padding-left: 10px !default;
$vxe-table-cell-padding-right: 10px !default;
$vxe-table-cell-input-height-default: $vxe-table-row-height-default - 6 !default;
$vxe-table-cell-input-height-medium: $vxe-table-row-height-medium - 6 !default;
$vxe-table-cell-input-height-small: $vxe-table-row-height-small - 6 !default;
$vxe-table-cell-input-height-mini: $vxe-table-row-height-mini - 6 !default;
$vxe-table-cell-dirty-width: 5px !default;
$vxe-table-cell-dirty-update-color: #f56c6c !default;
$vxe-table-cell-dirty-insert-color: #19A15F !default;
$vxe-table-cell-area-border-color: $vxe-primary-color !default;
$vxe-table-cell-area-border-width: 1px !default;
$vxe-table-cell-main-area-extension-border-color: #fff;
$vxe-table-cell-main-area-extension-background-color: $vxe-primary-color !default;
$vxe-table-cell-extend-area-border-width: 2px !default;
$vxe-table-cell-copy-area-border-width: 3px !default;
$vxe-table-cell-active-area-border-width: 2px !default;
$vxe-table-cell-copy-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-extend-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-active-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-area-background-color: rgba(64,158,255,0.2) !default;

$vxe-table-checkbox-range-border-width: 1px !default;
$vxe-table-checkbox-range-border-color: #006af1 !default;
$vxe-table-checkbox-range-background-color: rgba(50,128,252,0.2) !default;

$vxe-table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgba(0, 0, 0, 0.12) !default;
$vxe-table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgba(0, 0, 0, 0.12) !default;

/*filter*/
$vxe-table-filter-panel-background-color: #fff !default;

/*menu*/
$vxe-table-menu-item-width: 178px !default;
$vxe-table-menu-background-color: #fff !default;

/*loading*/
$vxe-loading-color: $vxe-primary-color !default;
$vxe-loading-background-color: rgba(255, 255, 255, 0.5) !default;
$vxe-loading-z-index: 999 !default;

/*validate*/
$vxe-table-validate-error-color: #f56c6c !default;
$vxe-table-validate-error-background-color: $vxe-table-body-background-color !default;

/*grid*/
$vxe-grid-maximize-background-color: #fff !default;

/*toolbar*/
$vxe-toolbar-background-color: #fff !default;
$vxe-toolbar-custom-active-background-color: #D9DADB !default;
$vxe-toolbar-panel-background-color: #fff !default;

/*tooltip*/
$vxe-tooltip-dark-color: #fff !default;
$vxe-tooltip-dark-background-color: #303133 !default;
$vxe-tooltip-light-background-color: #fff !default;

@import 'vxe-table/styles/index.scss';
